body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #270081;
  color: #eefffe;
  width: 100%;
  display: flex;
  height: 59.2px;
  justify-content: space-between;
}
nav div {
  margin: 0px 50px;
  display: flex;
}
nav div a {
  display: inline;
  padding: 20px;
  margin: 0px 3px;
}
nav div a:hover {
  background-color: #1b005a;
}

#addList, #addItem, #listOverflow {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
#addList #newListDropdown, #addList #listOverflowDrop, #addList #newItemDropdown, #addItem #newListDropdown, #addItem #listOverflowDrop, #addItem #newItemDropdown, #listOverflow #newListDropdown, #listOverflow #listOverflowDrop, #listOverflow #newItemDropdown {
  display: flex;
  position: absolute;
  margin: 0px;
  padding: 0px 20px 25px 20px;
  top: 59.2px;
  width: 325px;
  right: -375px;
  border: 1px grey solid;
  border-top: none;
  border-bottom-left-radius: 15px;
  transition: right 0.4s;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 14px 6px 30px -9px #000000;
}
#addList #newListDropdown a, #addList #listOverflowDrop a, #addList #newItemDropdown a, #addItem #newListDropdown a, #addItem #listOverflowDrop a, #addItem #newItemDropdown a, #listOverflow #newListDropdown a, #listOverflow #listOverflowDrop a, #listOverflow #newItemDropdown a {
  padding: 0px;
}
#addList #newListDropdown input, #addList #listOverflowDrop input, #addList #newItemDropdown input, #addItem #newListDropdown input, #addItem #listOverflowDrop input, #addItem #newItemDropdown input, #listOverflow #newListDropdown input, #listOverflow #listOverflowDrop input, #listOverflow #newItemDropdown input {
  width: 80%;
  text-align: center;
  font-size: large;
  padding: 5px;
}
#addList #newListDropdown button, #addList #listOverflowDrop button, #addList #newItemDropdown button, #addItem #newListDropdown button, #addItem #listOverflowDrop button, #addItem #newItemDropdown button, #listOverflow #newListDropdown button, #listOverflow #listOverflowDrop button, #listOverflow #newItemDropdown button {
  margin-top: 15px;
  padding: 5px;
  width: 70%;
  border: none;
  background-color: #270081;
  color: #eefffe;
  font-size: 18px;
  border-radius: 100vw;
}
#addList #newListDropdown button:hover, #addList #listOverflowDrop button:hover, #addList #newItemDropdown button:hover, #addItem #newListDropdown button:hover, #addItem #listOverflowDrop button:hover, #addItem #newItemDropdown button:hover, #listOverflow #newListDropdown button:hover, #listOverflow #listOverflowDrop button:hover, #listOverflow #newItemDropdown button:hover {
  background-color: #1b005a;
}
#addList:hover #newListDropdown, #addList:hover #listOverflowDrop, #addList:hover #newItemDropdown, #addItem:hover #newListDropdown, #addItem:hover #listOverflowDrop, #addItem:hover #newItemDropdown, #listOverflow:hover #newListDropdown, #listOverflow:hover #listOverflowDrop, #listOverflow:hover #newItemDropdown {
  right: -5px;
}
#addList #newItemDropdown, #addItem #newItemDropdown, #listOverflow #newItemDropdown {
  width: 550px;
  right: -600px;
}
#addList #newItemDropdown input:nth-of-type(2), #addItem #newItemDropdown input:nth-of-type(2), #listOverflow #newItemDropdown input:nth-of-type(2) {
  margin-top: 5px;
  height: 150px;
}
#addList #listOverflowDrop, #addItem #listOverflowDrop, #listOverflow #listOverflowDrop {
  align-items: stretch;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
  left: -450px;
  width: 400px;
  box-shadow: -14px 6px 30px -9px #000000;
  transition: left 0.4s;
  padding: 15px 0px;
}
#addList #listOverflowDrop a, #addItem #listOverflowDrop a, #listOverflow #listOverflowDrop a {
  margin: 0px;
  border-bottom: 2px solid #838383;
  padding: 10px;
}
#addList #listOverflowDrop a:hover, #addItem #listOverflowDrop a:hover, #listOverflow #listOverflowDrop a:hover {
  background-color: #cfcfcf;
}
#addList #listOverflowDrop a.active, #addItem #listOverflowDrop a.active, #listOverflow #listOverflowDrop a.active {
  background-color: #e9e9e9;
}
#addList #listOverflowDrop a.active:hover, #addItem #listOverflowDrop a.active:hover, #listOverflow #listOverflowDrop a.active:hover {
  background-color: #cfcfcf;
}
#addList:hover #listOverflowDrop, #addItem:hover #listOverflowDrop, #listOverflow:hover #listOverflowDrop {
  left: 0px;
}
#addList:hover #newItemDropdown, #addItem:hover #newItemDropdown, #listOverflow:hover #newItemDropdown {
  right: -15px;
}

#addItem {
  display: none;
}

.active {
  background-color: #3800a8;
}

.listItem {
  display: flex;
  justify-content: space-between;
  border-bottom: #cfcfcf 2px solid;
}
.listItem:hover {
  background-color: #e9e9e9;
}
.listItem div {
  display: flex;
  font-size: x-large;
  padding: 20px;
  align-items: center;
}
.listItem div div {
  padding: 0px;
}
.listItem div i {
  margin-top: 2px;
  margin: 0px 5px;
  padding: 5px 6px;
  border-radius: 5px;
}
.listItem div i:hover {
  background-color: #cfcfcf;
}
.listItem div .fa-check {
  padding: 5px 3.45px;
}
.listItem div p {
  margin: 0px 20px;
  padding: 4px;
  border-radius: 5px;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
}
.left .desc {
  color: #838383;
  padding: 4px;
  border-radius: 5px;
  word-wrap: normal;
}
.left .desc:hover {
  background-color: #cfcfcf;
}

#delete {
  font-size: 3em;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: none;
  background-color: #270081;
  color: #eefffe;
  position: fixed;
  bottom: 10px;
  left: -80px;
  transition: left 0.75s;
}
#delete:hover {
  background-color: #a50000;
  color: black;
}

#hideDelete {
  font-size: 1.7em;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: #1b005a;
  color: #eefffe;
  position: fixed;
  bottom: 52px;
  left: -92px;
  transition: left 0.75s;
}
#hideDelete:hover {
  background-color: #838383;
  color: #3800a8;
}

#modalBG {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  background-color: #00000000;
  transition: background-color 0.75s;
  z-index: 5;
}
#modalBG #modal {
  transition: top 1s;
  position: fixed;
  border-radius: 20px;
  left: 30%;
  top: -50%;
  height: 40%;
  width: 40%;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#modalBG #modal h1 {
  text-align: center;
}
#modalBG #modal .df {
  display: flex;
  justify-content: space-evenly;
}
#modalBG #modal .df button {
  width: 35%;
  border-radius: 100vw;
  border: none;
  background-color: #270081;
  color: #eefffe;
  font-size: larger;
  padding: 5px;
}
#modalBG #modal .df button:hover {
  background-color: #1b005a;
}
#modalBG #modal .df button:nth-of-type(2):hover {
  background-color: #a50000;
}

/*# sourceMappingURL=style.css.map */
