$theme: #270081;
$themeDark: #1b005a;
$activeColor: #300091;
$themeFontColor: #eefffe;
$font: 'Roboto', sans-serif;
$baseGrey: #e9e9e9;
$darkerGrey: #cfcfcf;
$darkGrey: #838383;
$dangerRed: #a50000;

body
{
    margin: 0px;
    overflow-x: hidden;
    font-family: $font;
}

nav
{
    background-color: $theme;
    color: $themeFontColor;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div
    {
        margin: 0px 50px;
        display: flex;
        a
        {
            display: inline;
            padding: 20px;
            margin: 0px 3px;
            &:hover
            {
                background-color: $themeDark;
                
            }
        }

    }
}

#addList, #addItem
{
    margin: 0px;
    display: flex;
    flex-direction: column;
    #newListDropdown
    {
        display: flex;
        position: absolute;
        margin: 0px;
        padding: 0px 20px 25px 20px;
        top: 58.5px;
        width: 325px;
        right: -375px;
        border: 1px grey solid;
        border-top: none;
        border-bottom-left-radius: 15px;
        transition: right .4s;
        color: black;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 14px 6px 30px -9px #000000;
        a
        {
            padding: 0px;
        }
        input
        {
            width: 80%;
            text-align: center;
            font-size: large;
            padding: 5px;
        }
        button
        {
            margin-top: 15px;
            padding: 5px;
            width: 70%;
            border: none;
            background-color: $theme;
            color: $themeFontColor;
            font-size: 18px;
            border-radius: 100vw;
            &:hover
            {
                background-color: $themeDark;
            }
        }
    }
    &:hover #newListDropdown
    {
        right: -5px;
    }
    #newItemDropdown
    {
        @extend #newListDropdown;
        width: 550px;
        right: -600px;
        input:nth-of-type(2)
        {
            margin-top: 5px;
            height: 150px;
        }
    }
    &:hover #newItemDropdown
    {
        right: -15px;
    }
}
#addItem
{
    display: none;
}

.active
{
    background-color: $activeColor;
}

.listItem
{
    display: flex;
    justify-content: space-between;
    border-bottom: $darkerGrey 2px solid; 
    &:hover
    {
        background-color: $baseGrey;
    }
    div
    {
        display: flex;
        font-size: x-large;
        padding: 20px;
        align-items: center;
        div
        {
            padding: 0px;
        }
        i
        {
            margin-top: 2px;
            margin: 0px 5px;
            padding: 5px 6px;
            border-radius: 5px;
            &:hover
            {
                background-color: $darkerGrey;
            }
        }
        .fa-check
        {
            padding: 5px 3.45px;
        }
        p
        {
            margin: 0px 20px;
            padding: 4px;
            border-radius: 5px;
        }

    }
}
.left
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    .desc
    {
        color: $darkGrey;
        padding: 4px;
        border-radius: 5px;
        word-wrap: normal;
        &:hover
        {
            background-color: $darkerGrey;
        }
    }
}

#delete
{
    font-size: 3em;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: none;
    background-color: $theme;
    color: $themeFontColor;
    position: fixed;
    bottom: 10px;
    left: -80px;
    transition: left .75s;
    &:hover
    {
        background-color: $dangerRed;
        color: black;
    }
}
#hideDelete
{
    font-size: 1.7em;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: $themeDark;
    color: $themeFontColor;
    position: fixed;
    bottom: 52px;
    left: -92px;
    transition: left .75s;
    &:hover
    {
        background-color: $darkGrey;
        color: $activeColor;
    }
}

#modalBG
{
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    background-color: #00000000;
    transition: background-color .75s;
    z-index: 5;
    #modal
    {
        transition: top 1s;
        position: fixed;
        border-radius: 20px;
        left: 30%;
        top: -50%;
        height: 40%;
        width: 40%;
        background-color: $baseGrey;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1 
        {
            text-align: center;
        }
        .df
        {
            display: flex;
            justify-content: space-evenly;
            button
            {
                width: 35%;
                border-radius: 100vw;
                border: none;
                background-color: $theme;
                color: $themeFontColor;
                font-size: larger;
                padding: 5px;
                &:hover
                {
                    background-color: $themeDark;
                }
                &:nth-of-type(2):hover
                {
                    background-color: $dangerRed;
                }
            }
        }
    }
}
